# Projeto 2 - CD 
Eli Jose, Pedro Greco, Eduardo Vaz

In [17]:
import math
import os.path
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
import seaborn as sns
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

In [18]:
data = pd.read_csv('dd1.csv',sep=',')
data = data.rename(columns = {'satisfaction_level':'satisfacao'})
data = data.rename(columns = {'last_evaluation':'evaluacao'})
data = data.rename(columns = {'number_project':'projetos'})
data = data.rename(columns = {'average_montly_hours':'hrsmedia'})
data = data.rename(columns = {'time_spend_company':'tempogasto'})
data = data.rename(columns = {'left':'saiu'})
data = data.rename(columns = {'promotion_last_5years':'promocoes'})
data = data.rename(columns = {'sales':'setor'})
data = data.rename(columns = {'salary':'salario'})
data = data.rename(columns = {'Work_accident':'acidentes'})



data['salario'].astype(str)

data.loc[(data.salario== 'low'), 'salario'] = 0
data.loc[(data.salario== 'medium'), 'salario'] = 1
data.loc[(data.salario== 'high'), 'salario'] = 2

data['setor'].astype(str)

data.loc[(data.setor== 'sales'), 'setor'] = 0
data.loc[(data.setor== 'accounting'), 'setor'] = 1
data.loc[(data.setor== 'hr'), 'setor'] = 2
data.loc[(data.setor== 'technical'), 'setor'] = 3
data.loc[(data.setor== 'support'), 'setor'] = 4
data.loc[(data.setor== 'management'), 'setor'] = 5
data.loc[(data.setor== 'technical'), 'setor'] = 6
data.loc[(data.setor== 'IT'), 'setor'] = 7
data.loc[(data.setor== 'product_mng'), 'setor'] = 8
data.loc[(data.setor== 'marketing'), 'setor'] = 9

data.head()

##codigo da tecnica a ser utilizada sera retirado dos seguintes websites com tutoriais:

##    https://towardsdatascience.com/building-a-logistic-regression-in-python-step-by-step-becd4d56c9c8
##    http://www.dummies.com/programming/big-data/data-science/using-logistic-regression-in-python-for-data-science/
##    http://dataaspirant.com/2017/04/15/implement-logistic-regression-model-python-binary-classification/

,satisfacao,evaluacao,projetos,hrsmedia,tempogasto,acidentes,saiu,promocoes,setor,salario
0,0.38,0.53,2,157,3,0,1,0,0,0
1,0.80,0.86,5,262,6,0,1,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0
4,0.37,0.52,2,159,3,0,1,0,0,0

In [19]:
# create dataframes with an intercept column and dummy variables for
# occupation and occupation_husb


y, X = dmatrices('saiu ~ satisfacao + evaluacao + projetos + hrsmedia + \
                  tempogasto + acidentes + promocoes + C(setor) + C(salario)',
                  data, return_type="dataframe")



print (X.columns)

Index(['Intercept', 'C(setor)[T.1]', 'C(setor)[T.2]', 'C(setor)[T.3]',
       'C(setor)[T.4]', 'C(setor)[T.5]', 'C(setor)[T.7]', 'C(setor)[T.8]',
       'C(setor)[T.9]', 'C(setor)[T.RandD]', 'C(salario)[T.1]',
       'C(salario)[T.2]', 'satisfacao', 'evaluacao', 'projetos', 'hrsmedia',
       'tempogasto', 'acidentes', 'promocoes'],
      dtype='object')

In [20]:
# fix column names of X
X = X.rename(columns = {'C(setor)[T.1]':'occ_1',
                        'C(setor)[T.2]':'occ_2',
                        'C(setor)[T.3]':'occ_3',
                        'C(setor)[T.4]':'occ_4',
                        'C(setor)[T.5]':'occ_5',
                        'C(setor)[T.6]':'occ_6',
                        'C(setor)[T.7]':'occ_7',
                        'C(setor)[T.8]':'occ_8',
                        'C(setor)[T.9]':'occ_9',
                        'C(salario)[T.1]':'occ_husb_1',
                        'C(salario)[T.2]':'occ_husb_2'})

In [21]:
# flatten y into a 1-D array
y = np.ravel(y)

In [22]:
# instantiate a logistic regression model, and fit with X and y
model = LogisticRegression()
model = model.fit(X, y)

# check the accuracy on the training set
model.score(X, y)

0.7918527901860124

In [23]:
#qual porcentagem real saiu da empresa
y.mean()

0.2380825388359224

In [24]:
# Checar os coeficientes entre sair da empresa e as outras variaveis
#negativo indica que quanto maior a variavel menor a chance de sair da empresa
#se for positivo quanto menor um menor a chance do outro
pd.DataFrame(list(zip(X.columns, np.transpose(model.coef_))))

                    0                   1
0           Intercept    [0.202106721873]
1               occ_1   [0.0382436858803]
2               occ_2    [0.273386405454]
3               occ_3     [0.10393641961]
4               occ_4   [0.0897342147021]
5               occ_5   [-0.409141217242]
6               occ_7   [-0.144337211394]
7               occ_8   [-0.118510995584]
8               occ_9   [0.0188967681292]
9   C(setor)[T.RandD]   [-0.542570022389]
10         occ_husb_1   [-0.525891368939]
11         occ_husb_2    [-1.88917383131]
12         satisfacao    [-4.08868410392]
13          evaluacao    [0.727193927969]
14           projetos   [-0.311445281886]
15           hrsmedia  [0.00442548993282]
16         tempogasto    [0.265318021834]
17          acidentes    [-1.50732641583]
18          promocoes    [-1.20071792138]

In [25]:

# avaliar o modelo dividindo em bases de treinamento(model(criada anteriormente)) e testes (model2)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
model2 = LogisticRegression()
model2.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [26]:
predicted = model2.predict(X_test)
probs = model2.predict_proba(X_test)
print (metrics.confusion_matrix(y_test, predicted))
print (metrics.classification_report(y_test, predicted))

[[3203  259]
 [ 682  356]]
             precision    recall  f1-score   support

        0.0       0.82      0.93      0.87      3462
        1.0       0.58      0.34      0.43      1038

avg / total       0.77      0.79      0.77      4500

In [27]:
#falta uma analise/explicacao das variaveis encontradas
#falta uma explicacao de regressao logistica e como ela se aplica a esse exemplo
#falta talvez tecnicas para melhorar a precisao do algoritimo se possivel
#falta analise sobre a precisao do algoritimo
#faltam alguns graficos de analise dos resultados